@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel

@{
    var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
    var link = ViewData["link"]?.ToString() ?? "";
    var dataTransition = ViewData["dataTransition"]?.ToString() ?? "";
    var text = ViewData["text"]?.ToString() ?? "";
    var alttext = ViewData["alttext"]?.ToString() ?? "";

    if (!string.IsNullOrEmpty(pictureUrl))
    {
        <div class="swiper-slide" data-slide-bg="@pictureUrl">
            <div class="swiper-slide-caption">
                <div class="parallax-container parallax-container-modern" data-parallax-img="">
                    <div class="parallax-content section-lg">
                        <p class="heading-4 heading-divider-modern" data-caption-animate="fadeInUp" data-caption-delay="250" style="font-weight: 400">@alttext</p>
                        <h1 data-caption-animate="fadeInUp" data-caption-delay="100">@text</h1><a class="button button-white button-effect-ujarak" href="@link" data-caption-animate="fadeInUp" data-caption-delay="450">@T("Healhcare.Slider.ButtonViewDetail")</a>
                    </div>
                </div>
            </div>
        </div>
    }
}